@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: HackBold;
  src: url(fonts/Hack-Bold.ttf);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto;
}

a {
  user-select: none;
  color: var(--links-color);
}

a:visited,
a:active {
  color: var(--visited-link-color);
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 95vh;
  width: 95vh;
  aspect-ratio: 1;

  touch-action: none;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer * {
  padding: 1rem;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .footer {
    justify-content: space-around;
  }
}

#description {
  user-select: none;
  color: var(--white);
  cursor: pointer;
  text-decoration: underline;
  font-size: 2rem;
}

#description-container {
  color: var(--white);
  background-color: var(--black);
  user-select: none;

  border: 4px solid var(--white);
  border-radius: 4px;
  padding: var(--text-size);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
}

#description-container #close-button {
  user-select: none;
  cursor: pointer;
  margin-top: var(--text-size);
  text-decoration: underline;
}

#description-container #close-button:hover {
  color: var(--gray);
}

.faded {
  filter: blur(4px) saturate(0.25);
}

.hidden {
  display: none !important;
}
