:root {
  --white: rgb(245, 245, 245);
  --black: rgb(15, 15, 15);
  --gray: rgb(130, 130, 130);

  --background-color: var(--black);
  --text-color: var(--white);
  --links-color: var(--gray);
  --visited-link-color: var(--gray);

  --text-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  :root {
    --text-size: 0.75rem;
  }
}
